<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  >
  <h:head>
    <title>CDI and JSF 2 Starter Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <h:outputStylesheet name="css/normalize.css"/>
    <h:outputStylesheet name="css/bootstrap-responsive.min.css"/>
    <h:outputStylesheet name="css/bootstrap.min.css"/>
  </h:head>
  <h:body>
    <ui:insert name="content">
      [Template content will be inserted here]
    </ui:insert>
  </h:body>
</html>
