<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   template="/WEB-INF/templates/html5template.xhtml">
   <ui:define name="content">
      <h1>Hello World!</h1>
      <p>Your starter jsf project is ready !</p>
   </ui:define>
</ui:composition>
